<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.imadc.application.skeleton.basic.rbac.rolePermission.mapper.RolePermissionMapper">

    <select id="queryRolePermissionId" resultType="java.lang.Long">
        SELECT t.permission_id
        FROM role_permission t
                 LEFT JOIN permission p ON p.id = t.permission_id
        WHERE p.del_flag = #{delFlag} AND t.del_flag = #{delFlag}
          AND t.role_id = #{roleId}
    </select>
</mapper>
